@import "tailwindcss";

html {
  background: #ffffff;
  min-height: 100vh;
  color-scheme: light;
}

body {
  background: #ffffff;
  overflow-x: hidden;
  color: #000000;
  scroll-behavior: smooth;
}
